@media screen and (max-width: 801px) {
.internal-board-div{
        display: flex;
        width: 90vw;
        padding: 2px;
        justify-content: center;
    }

    .wrapper{
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        max-width: 80vw;
        min-width: 80vw;
    }

    .Footer{
        display: flex;
        justify-content: space-between;
        font-size: 2vh;
        font-weight: bolder;
        margin-top: 5vh;
        max-width: 80vw;
        min-width: 80vw;
    }
}
@media screen and (min-width: 801px) {
    .internal-board-div{
        display: flex;
        border: 2px solid black;
        width: 90vw;
        padding: 15px;
        justify-content: center;
    }

    .wrapper{
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        max-width: 50vw;
        min-width: 50vw;
    }

    .Footer{
        display: flex;
        justify-content: space-between;
        font-size: 2vw;
        font-weight: bolder;
        margin-top: 2vh;
        max-width: 50vw;
        min-width: 50vw;
    }
    
}


.board-div{
    margin: auto;
    margin-top: 2vh;
    display: flex;
    padding: 2px;
    width: 90vw;
    flex: 3;
    justify-content: center;
}



.Timer{
    margin-left: 2vw;
}

.Score{
    margin-right: 2vw;
}