@media screen and (max-width: 801px) {
    .card{
        margin: auto;
        height: 20vw;
        width: 20vw;
        padding: 5px;
    }

    .memory-image{
        margin: auto;
        max-height: 20vw;
        max-width: 20vw;
        border-radius: 15px;
        border: 2px solid rgb(141, 205, 255);
    }
    
    .empty-card{
        margin: auto;
        height: 20vw;
        width: 20vw; 
        background: rgb(0,146,255);
        background: radial-gradient(circle, rgb(141, 205, 255) 0%, rgba(255,255,255,1) 0%, rgb(141, 205, 255) 100%); 
        cursor: pointer;
        border-radius: 15px;
        border: 2px solid rgb(141, 205, 255);
    }
}
@media screen and (min-width: 801px) {
    .card{
        margin: auto;
        height: 10vw;
        width: 10vw;
        padding: 20px;
    }
    .memory-image{
        margin: auto;
        max-height: 10vw;
        max-width: 10vw;
        min-width: 10vw;
        min-height: 10vw;
        border: 5px solid rgb(141, 205, 255);
        border-radius: 25px;
    }
    
    .empty-card{
        margin: auto;
        height: 10vw;
        width: 10vw; 
        background: rgb(0,146,255);
        background: radial-gradient(circle, rgb(141, 205, 255) 0%, rgba(255,255,255,1) 0%, rgb(141, 205, 255) 100%); 
        cursor: pointer;
        border: 5px solid rgb(141, 205, 255);
        border-radius: 25px;

    }
}

.card-div{
    margin: auto;
}